{% extends 'base.html' %}
{% load i18n %}
{% block title %} - {% trans 'Certifications' %}{% endblock %}
{% block content %}
<div class="article_list">
    <div class="article_list--top">
        <h2 class="article_list--title">{% trans 'Certifications' %}</h2>
    </div>
    {% if not certifications %}
        <div class="message-wrapper">
            <p>{% trans 'There is no certifications at the moment.' %}</p>
        </div>
    {% else %}
        {% for certification in certifications %}
            {% include 'components/certification_card.html' with certification=certification %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
