{% extends 'base.html' %}
{% load i18n %}
{% block title %} - {% translate "Articles" %}{% endblock %}
    {% block SEO %}
    <meta property="og:type" content="website" />
    {% endblock %}
{% block content %}
    <div class="articles_list">
    <div class="articles_list--top">
        <h2 class="articles_list--title">Articles</h2>
        <select class="articles_list--select" id='category-selector'>
            <option value="">{% trans 'All' %}</option>
            {% for category in categories %}
                {% if selected_category == category%}
                    <option value="{{category.slug}}" selected>{{category.get_translation.title}}</option>
                {% else %}
                    <option value="{{category.slug}}">{{category.get_translation.title}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
        {% if not posts %}
            <h2 class="message-wrapper">{% trans 'There is no article at the moment.' %}</h2>
        {% else %}    
            {% for article in posts.all|dictsortreversed:"published_on" %}      
                <a class="article_card" href="{% url 'blog:article_detail' article.slug %}">

                    <div class="article_card--top">
                        <div class="article_card--top-left">
                            <p class="article_card--title">{{ article.get_translation.title }}</p>
                        </div>
                        {% if article.category %}
                            <p class="article_card--category">{{ article.category }}</p>
                        {% endif %}
                    </div>
                    {% if article.get_translation.description %}
                        <p class="article_card--description">“{{ article.get_translation.description|default_if_none:'' }}”</p>
                    {% endif %}
                    <div class="article_card--bottom">
                        <p class="article_card--date">{{ article.published_on|date:"j F Y" }}</p>

                        <div class="article_card--tags">
                            {% for tag in article.tags.all %}
                                <p class="article_card--tag">{{ tag.title }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>

<script>
    const categorySelector = document.getElementById('category-selector');
    categorySelector.addEventListener('change', function () {
        const selectedCategory = this.value;
        if (selectedCategory) {
            window.location.href = `/articles/${selectedCategory}`;
        } else {
            window.location.href = `/articles/`;
        }
    });
</script>
{% endblock %}