{% extends 'base.html' %}
{% load i18n %}
{% block title %} - {% trans 'Courses' %}{% endblock %}
{% block content %}
<div class="article_list">
    <div class="article_list--top">
        <h2 class="article_list--title">{% trans 'Courses' %}</h2>
        <div class="article_list--actions">
            {% include "components/category_selector.html" with categories=categories base_url="education" %}
        </div>
    </div>
    {% if not courses %}
        <div class="message-wrapper">
            <p>{% trans 'There is no course at the moment.' %}</p>
        </div>
    {% else %}
        {% for course in courses.all %}
            {% include 'components/course_card.html' with course=course %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
