{% extends 'base.html' %}
{% load i18n %}
{% block title %} - {{ course.title }} › {{ module.title }}{% endblock %}
{% block content %}
{% include 'components/education_breadcrumb.html' with course=course module=module %}
<div class="article_list">
    <div class="article_list--top">
        <h2 class="article_list--title">{{ module.title }}</h2>
        <span class="lesson-progress-counter"></span>
    </div>
    {% if not lessons %}
        <div class="message-wrapper">
            <p>{% trans 'There is no lesson at the moment.' %}</p>
        </div>
    {% else %}
        {% for lesson in lessons.all %}
            {% include 'components/lesson_card.html' with lesson=lesson module=module course=course %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
