{% extends 'base.html' %}
{% load i18n %}
{% block title %} - {{ course.title }}{% endblock %}
{% block content %}
{% include 'components/education_breadcrumb.html' with course=course %}
<div class="article_list">
    <div class="article_list--top">
        <h2 class="article_list--title">{{ course.title }}</h2>
    </div>
    {% if not modules %}
        <div class="message-wrapper">
            <p>{% trans 'There is no module at the moment.' %}</p>
        </div>
    {% else %}
        {% for module in modules.all %}
            {% include 'components/module_card.html' with module=module course=course %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
