{% load i18n %}
<nav class="navbar">
    <div class="navbar-logo">
        <a class="navbar-logo--link" href="{% url 'root:index' %}">
        {% if site_settings.logo %}
            <img class="navbar-logo--img" src="{{ site_settings.logo.url }}" alt="{{ site_settings.site_name }}'s logo">
        {% else %}
            <h1>{{ site_settings.site_name }}</h1>
        {% endif %}
        </a>
    </div>
    <ul class="navbar-items">
        {% for page in site_settings.get_page_referenced %}
            <li class="navbar-item">
                <a href="{% url 'root:page_detail' page.slug %}" class="navbar-item--link">{{ page.title }}</a>
            </li>
            <li class="navbar-item navbar-item--separator">
                /
            </li>
        {% endfor %}
        {% if site_settings.view_page_settings.activate_projects_page %}
            <li class="navbar-item">
                <a href="{% url 'blog:project_list' %}" class="navbar-item--link">{% trans 'Projects' %}</a>
            </li>
            <li class="navbar-item navbar-item--separator">
                /
            </li>
        {% endif %}
        {% if site_settings.view_page_settings.activate_certifications_page %}
            <li class="navbar-item">
                <a href="{% url 'infosec:certification_list' %}" class="navbar-item--link">{% trans 'Certifications' %}</a>
            </li>
            <li class="navbar-item navbar-item--separator">
                /
            </li>
        {% endif %}
        {% if site_settings.view_page_settings.activate_writeups_page %}
            <li class="navbar-item">
                <a href="{% url 'infosec:writeup_list' %}" class="navbar-item--link">{% trans 'Writeups' %}</a>
            </li>
            <li class="navbar-item navbar-item--separator">
                /
            </li>
        {% endif %}
        {% if site_settings.view_page_settings.activate_articles_page %}
            <li class="navbar-item">
                <a href="{% url 'blog:article_list' %}" class="navbar-item--link">{% trans 'Articles' %}</a>
            </li>
            <li class="navbar-item navbar-item--separator">
                /
            </li>
        {% endif %}
        {% if site_settings.view_page_settings.activate_members_page %}
            <li class="navbar-item">
                <a href="{% url 'blog:member_list' %}" class="navbar-item--link">{% trans 'Members' %}</a>
            </li>
            <li class="navbar-item navbar-item--separator">
                    /
            </li>
        {% endif %}
        {% if site_settings.view_page_settings.activate_cves_page %}
            <li class="navbar-item">
                <a href="{% url 'infosec:cve_list' %}" class="navbar-item--link">{% trans 'CVEs' %}</a>
            </li>
            <li class="navbar-item navbar-item--separator">
                    /
            </li>
        {% endif %}
        <li class="navbar-item">
            <a href="{% url 'education:course_list' %}" class="navbar-item--link">{% trans 'Education' %}</a>
        </li>
    </ul>
</nav>
