<a class="article_card" href="{% url detail_url_name post.category.slug post.slug %}">
    <div class="article_card--top">
        <div class="article_card--top-left">
            <p class="article_card--title">{{ post.get_translation.title }}</p>
        </div>
        {% if post.category %}
            <p class="article_card--category">{{ post.category }}</p>
        {% endif %}
    </div>
    {% if post.get_translation.description %}
        <p class="article_card--description">“{{ post.get_translation.description|default_if_none:'' }}”</p>
    {% endif %}
    <div class="article_card--bottom">
        <p class="article_card--date">{{ post.published_on|date:"j F Y" }}</p>

        <div class="article_card--tags">
            {% for tag in post.tags.all %}
                <p class="article_card--tag">{{ tag.title }}</p>
            {% endfor %}
        </div>
    </div>
</a>