{% extends 'admin/base.html' %}
{% load static i18n %}

{% block title %}{{ site_settings.site_name }} - Eskoz{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin.css' %}">
{% endblock %}
{% block extrahead %}
{% if site_settings.favicon %}
    <link rel="shortcut icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">
{% endif %}
{% endblock %}

{% block header %}
    {% include 'admin/components/navbar.html' %}
{% endblock %}

{% block footer %}{% include 'components/footer.html' %}{% endblock %}

{% block extrabody %}
    <script src="{% static 'js/toggleTheme.js' %}"></script>
{% endblock %}