{% extends "admin/base_site.html" %}
{% block title %}{{site_settings.site_name}} - Eskoz{% endblock %}
{% block branding %}<div id="site-name"><a href="{% url 'admin:index' %}">Eskoz</a></div>{% endblock %}
{% block extrastyle %}{{ block.super }}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin.css' %}"> 
    <style>
        [data-theme="light"] {
            {% if light_theme.primary_color %}--primary-color: {{light_theme.primary_color}};{% endif %}
            {% if light_theme.secondary_color %}--secondary-color: {{light_theme.secondary_color}};{% endif %}
            {% if light_theme.background_color %}--background-color: {{light_theme.background_color}};{% endif %}
            {% if light_theme.text_color %}--text-color: {{light_theme.text_color}};{% endif %}
        }
        [data-theme="dark"] {
            {% if dark_theme.primary_color %}--primary-color: {{dark_theme.primary_color}};{% endif %}
            {% if dark_theme.secondary_color %}--secondary-color: {{dark_theme.secondary_color}};{% endif %}
            {% if dark_theme.background_color %}--background-color: {{dark_theme.background_color}};{% endif %}
            {% if dark_theme.text_color %}--text-color: {{dark_theme.text_color}};{% endif %}
        }
    </style>
{% endblock %}
{% block extrabody %}
    {{ block.super }}
{% endblock extrabody %}
