{% extends 'base.html' %}
{% load i18n %}
{% block title %} - {% translate "Articles" %}{% endblock %}
    {% block SEO %}
    <meta property="og:type" content="website" />
    {% endblock %}
{% block content %}
    {% if not articles %}
        <h2 class="message-wrapper">{% trans 'There is no article at the moment.' %}</h2>
    {% else %}
    <div class="articles_list">
        {% for article in articles %}
            <a class="article_card" href="{% url 'blog:article_detail' article.slug %}">
          
                <p class="article_card--title">{{ article.get_translation.title }}</p>
                <p class="article_card--date">{{ article.published_on }}</p>
                <p class="article_card--description">{{ article.get_translation.description|default_if_none:'' }}</p>
                <div class="article_card--tags">
                    {% for tag in article.tags.all %}
                        <p class="article_card--tag">{{ tag.title }}</p>
                    {% endfor %}
                </div>
            </a>
        {% endfor %}
    </div>
    {% endif %}



{% endblock %}