{% extends 'base.html' %}
{% load i18n %}
{% block title %} - {% trans 'Members' %}{% endblock %}
{% block content %}
<div class="article_list">
    <div class="article_list--top">
        <h2 class="article_list--title">{% trans 'Members' %}</h2>
    </div>
    {% if not members %}
        <div class="message-wrapper">
            <p>{% trans 'There is no members at the moment.' %}</p>
        </div>
    {% else %}
        {% for member in members %}
            {% include 'components/member_card.html' with member=member %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
