{% extends 'base.html' %}
{% load i18n %}
{% block title %} - {% trans 'Projects' %}{% endblock %}
{% block content %}
<div class="article_list">
    <div class="article_list--top">
        <h2 class="article_list--title">{% trans 'Projects' %}</h2>
    </div>
    {% if not projects %}
        <div class="message-wrapper">
            <p>{% trans 'There is no projects at the moment.' %}</p>
        </div>
    {% else %}
        {% for project in projects %}
            {% include 'components/project_card.html' with project=project %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
