{% extends 'base.html' %}
{% load i18n %} 
{% block head %}
{% load static %}
{% endblock %}
{% block title %} - {% translate 'Protected' %}{% endblock %}
{% block SEO %}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ article.published_on.isoformat }}" />
    <meta property="article:modified_time" content="{{ article.edited_on.isoformat }}" />
    {% for tag in article.tags.all %}<meta property="article:tag" content="{{ tag.title }}" />{% endfor %}
{% endblock %}
{% block content %}
    <div class="article--form-password-wrapper">
        <div class="article--form-password">
            <p class="article--form-password--title">{% translate "This article is protected !" %}</p>
            <form action="" method="POST" class="article">
                {% csrf_token %}
                <input type="password" name="password" id="">
                <button>{% translate "send" %}</button>
            </form>
        </div>
    </div>
{% endblock %}