<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="{{ site_settings.keywords }}">
    <meta name="description" content="{{ site_settings.description }}">
    <meta name="author" content="{{ site_settings.author }}">

    {% if site_settings.favicon %}<link rel="shortcut icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">{% endif %}
    <!-- OG -->
    {% block SEO %}{% endblock%}
    <meta property="og:title" content="{{ site_settings.seo_settings.og_title }}">
    <meta property="og:description" content="{{ site_settings.seo_settings.description }}">
    <meta property="og:url" content="{{ request.get_host }}">
    {% if site_settings.seo_settings.og_image %}
    <meta property="og:image" content="{{ site_settings.seo_settings.og_image.url }}">
    <meta property="og:image:width" content="{{ site_settings.seo_settings.og_image.width }}"/>
    <meta property="og:image:height" content="{{ site_settings.seo_settings.og_image.height }}"/>
    {% endif %}
    <!-- Twitter -->
    <meta name="twitter:card" content="{{ site_settings.seo_settings.twitter_card_type }}">
    <meta name="twitter:site" content="{{ request.get_host }}">
    <meta name="twitter:creator" content="{{ site_settings.seo_settings.twitter_creator}}">
    <meta name="twitter:title" content="{{ site_settings.seo_settings.twitter_title }}">
    {% if site_settings.seo_settings.twitter_image %}<meta name="twitter:image" content="{{ site_settings.seo_settings.twitter_image.url }}">{% endif %}
    <meta name="twitter:description" content="{{ site_settings.seo_settings.twitter_description }}">
    <title>{{site_settings.site_name}}{% block title %}{% endblock%}</title>
    <style>
        :root {
            --primary-color: {{theme.primary_color}};
            --secondary-color: {{theme.secondary_color}};
            --background-color: {{theme.background_color}};
            --text-color: {{theme.text_color}};
            --font-familly: {{theme.font_family}};
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    {% if site_settings.under_maintenance %}
        {% trans 'Under maintenance' %}
    {% else %}
    {% block content %}{% endblock %}
    {% endif %}
</body>
</html>