<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="{{ site_settings.seo_settings.meta_keywords }}">
    <meta name="description" content="{{ site_settings.seo_settings.meta_description }}">
    <meta name="author" content="{{ site_settings.meta_author }}">

    {% if site_settings.favicon %}<link rel="shortcut icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">{% endif %}
    <!-- OG -->
    {% block SEO %}{% endblock%}
    <meta property="og:title" content="{{ site_settings.seo_settings.og_title }}">
    <meta property="og:description" content="{{ site_settings.seo_settings.og_description }}">
    <meta property="og:url" content="{{ request.get_host }}">
    {% if site_settings.seo_settings.og_image %}
    <meta property="og:image" content="{{ site_settings.seo_settings.og_image.url }}">
    <meta property="og:image:width" content="{{ site_settings.seo_settings.og_image.width }}"/>
    <meta property="og:image:height" content="{{ site_settings.seo_settings.og_image.height }}"/>
    {% endif %}
    <!-- Twitter -->
    <meta name="twitter:card" content="{{ site_settings.seo_settings.twitter_card_type }}">
    <meta name="twitter:site" content="{{ request.get_host }}">
    <meta name="twitter:creator" content="{{ site_settings.seo_settings.twitter_creator}}">
    <meta name="twitter:title" content="{{ site_settings.seo_settings.twitter_title }}">
    {% if site_settings.seo_settings.twitter_image %}<meta name="twitter:image" content="{{ site_settings.seo_settings.twitter_image.url }}">{% endif %}
    <meta name="twitter:description" content="{{ site_settings.seo_settings.twitter_description }}">
    <title>{{site_settings.site_name}}{% block title %}{% endblock%}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        [data-theme="light"] {
            {% if light_theme.primary_color %}--primary-color: {{light_theme.primary_color}};{% endif %}
            {% if light_theme.secondary_color %}--secondary-color: {{light_theme.secondary_color}};{% endif %}
            {% if light_theme.background_color %}--background-color: {{light_theme.background_color}};{% endif %}
            {% if light_theme.text_color %}--text-color: {{light_theme.text_color}};{% endif %}
        }
        [data-theme="dark"] {
            {% if dark_theme.primary_color %}--primary-color: {{dark_theme.primary_color}};{% endif %}
            {% if dark_theme.secondary_color %}--secondary-color: {{dark_theme.secondary_color}};{% endif %}
            {% if dark_theme.background_color %}--background-color: {{dark_theme.background_color}};{% endif %}
            {% if dark_theme.text_color %}--text-color: {{dark_theme.text_color}};{% endif %}
        }

    </style>
    {% block head %}{% endblock %}
</head>
<body>
{% if site_settings.under_maintenance %}
    {% include "components/maintenance.html" %}
{% else %}
    <header>
        {% include "components/navbar.html" %}
    </header>
    <main>
        <div class="page_wrapper">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        {% include "components/footer.html" %}
    </footer>
{% endif %}
{% if site_settings.show_transition%}
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        document.body.classList.add('fade-in');
        document.querySelectorAll('a').forEach(link => {
            link.addEventListener('click', e => {
                const url = link.getAttribute('href');
                if (!url || url.startsWith('http') || url.startsWith('#') || url.startsWith('mailto:')) {
                    return;
                }
                e.preventDefault();
                document.body.classList.remove('fade-in');
                document.body.classList.add('fade-out');
                setTimeout(() => {
                    window.location.href = url;
                }, 100);
            });
        });
    });
    </script>
{% endif %}
<script src="{% static 'js/toggleTheme.js' %}"></script>

</body>
</html>
