<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="{{ site_settings.keywords }}">
    <meta name="description" content="{{ site_settings.description }}">
    <meta name="author" content="{{ site_settings.author }}">

    {% if site_settings.favicon %}<link rel="shortcut icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">{% endif %}
    <!-- OG -->
    {% block SEO %}{% endblock%}
    <meta property="og:title" content="{{ site_settings.seo_settings.og_title }}">
    <meta property="og:description" content="{{ site_settings.seo_settings.description }}">
    <meta property="og:url" content="{{ request.get_host }}">
    {% if site_settings.seo_settings.og_image %}
    <meta property="og:image" content="{{ site_settings.seo_settings.og_image.url }}">
    <meta property="og:image:width" content="{{ site_settings.seo_settings.og_image.width }}"/>
    <meta property="og:image:height" content="{{ site_settings.seo_settings.og_image.height }}"/>
    {% endif %}
    <!-- Twitter -->
    <meta name="twitter:card" content="{{ site_settings.seo_settings.twitter_card_type }}">
    <meta name="twitter:site" content="{{ request.get_host }}">
    <meta name="twitter:creator" content="{{ site_settings.seo_settings.twitter_creator}}">
    <meta name="twitter:title" content="{{ site_settings.seo_settings.twitter_title }}">
    {% if site_settings.seo_settings.twitter_image %}<meta name="twitter:image" content="{{ site_settings.seo_settings.twitter_image.url }}">{% endif %}
    <meta name="twitter:description" content="{{ site_settings.seo_settings.twitter_description }}">
    <title>{{site_settings.site_name}}{% block title %}{% endblock%}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        :root {
            {% if theme.primary_color %}--primary-color: {{theme.primary_color}};{% endif %}
            {% if theme.secondary_color %}--secondary-color: {{theme.secondary_color}};{% endif %}
            {% if theme.background_color %}--background-color: {{theme.background_color}};{% endif %}
            {% if theme.text_color %}--text-color: {{theme.text_color}};{% endif %}
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    {% if site_settings.under_maintenance %}
    <div class="maintenance-wapper">
        <svg viewBox="0 0 30 30" fill="currentColor" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="currentColor" d="M6,9.3L3.9,5.8l1.4-1.4l3.5,2.1v1.4l3.6,3.6c0,0.1,0,0.2,0,0.3L11.1,13L7.4,9.3H6z M21,17.8c-0.3,0-0.5,0-0.8,0  c0,0,0,0,0,0c-0.7,0-1.3-0.1-1.9-0.2l-2.1,2.4l4.7,5.3c1.1,1.2,3,1.3,4.1,0.1c1.2-1.2,1.1-3-0.1-4.1L21,17.8z M24.4,14  c1.6-1.6,2.1-4,1.5-6.1c-0.1-0.4-0.6-0.5-0.8-0.2l-3.5,3.5l-2.8-2.8l3.5-3.5c0.3-0.3,0.2-0.7-0.2-0.8C20,3.4,17.6,3.9,16,5.6  c-1.8,1.8-2.2,4.6-1.2,6.8l-10,8.9c-1.2,1.1-1.3,3-0.1,4.1l0,0c1.2,1.2,3,1.1,4.1-0.1l8.9-10C19.9,16.3,22.6,15.9,24.4,14z"/></svg>
        <p>{% trans 'Sorry the website is under maintenance !' %}</p>
    </div>
    {% else %}
        <header>
            <nav class="navbar">
                <div class="navbar-logo">
                <a class="navbar-logo--link" href="{% url 'root:index' %}">
                {% if site_settings.logo %}
                    <img src="{{ site_settings.logo.url }}" alt="{{ site_settings.site_name }}'s logo">
                {% else %}
                    <h1>{{ site_settings.site_name }}</h1>
                {% endif %}
                </div>
                </a>
                <ul class="navbar-items">
                {% for page in site_settings.get_page_referenced %}
                    <li class="navbar-item">
                        <a href="{% url 'root:page_detail' page.slug %}" class="navbar-item--link">{{ page.title }}</a>
                    </li>
                {% endfor %}
                    <li class="navbar-item">
                        <a href="" class="navbar-item--link">{% trans 'Articles' %}</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p class="footer-credits">{{ site_settings.footer_credits | safe}}</p>
        </footer>
    {% endif %}
</body>
</html>