{% extends 'base.html' %}
{% load i18n %}
{% block title %} - {% trans 'course' %}{% endblock %}
    {% block SEO %}
    <meta property="og:type" content="website" />
    {% endblock %}
{% block content %}
    <div class="article_list">
    <div class="article_list--top">
        <h2 class="article_list--title">{% trans 'Course' %}</h2>
        <select class="article_list--select" id='category-selector'>
            <option value="">{% trans 'All' %}</option>
            {% for category in categories %}
                {% if selected_category == category%}
                    <option value="{{category.slug}}" selected>{{category.get_translation.title|default:category.title}}</option>
                {% else %}
                    <option value="{{category.slug}}">{{category.get_translation.title|default:category.title}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
        {% if not courses %}
        <h2 class="message-wrapper"></h2>
            {% trans 'There is no course at the moment.' %}
        </h2>
        {% else %}    
            {% for course in courses.all %}      
                <a class="article_card" href="{% url 'education:module_list' course.slug %}">

                    <div class="article_card--top">
                        <div class="article_card--top-left">
                            <p class="article_card--title">{{ course.get_translation.title }}</p>
                        </div>
                        {% if course.category %}
                            <p class="article_card--category">{{ course.category }}</p>
                        {% endif %}
                    </div>
                    {% if course.get_translation.description %}
                        <p class="article_card--description">“{{ course.get_translation.description|default_if_none:'' }}”</p>
                    {% endif %}
                    <div class="article_card--bottom">
                        <p class="article_card--date">{{ course.published_on|date:"j F Y" }}</p>

                        <div class="article_card--tags">
                            {% for tag in course.tags.all %}
                                <p class="article_card--tag">{{ tag.title }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>

<script>
    const categorySelector = document.getElementById('category-selector');
    categorySelector.addEventListener('change', function () {
        const selectedCategory = this.value;
        if (selectedCategory) {
            window.location.href = `/{{ course_type }}/${selectedCategory}`;
        } else {
            window.location.href = `/{{ course_type }}/`;
        }
    });
</script>
{% endblock %}