* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #222831;
    --foreground-color: #31363F;
    --accent-color: #76ABAE;
    --font-color: #EEEEEE;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}
a {
  color: var(--accent-color);
}
/* HEADER */
header{
  display: flex;
  width: 100%;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 1em 0;
}
.navbar-logo--img {
  max-width: 80px;
}
.navbar-logo--link {
  display: flex;
  color: var(--font-color);
  align-items: center;
  text-decoration: none;
}
.navbar-items {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar-item {
  padding: 0 1em;
  list-style: none;
}
.navbar-item--link {
  font-weight: bold;
  display: flex;
  gap: 2px;
  color: var(--accent-color);
  text-decoration: none;
  transition: color .2s ease-in-out;
}
.navbar-item--link::before {
  content: '/';
  color: var(--accent-color);
  display: block;
  font-weight: bolder;
  transition: color .2s ease-in-out;
}
.navbar-item--link:hover::before{
  color:var(--font-color);
}
.navbar-item--link:hover {
  color:var(--font-color);
}

/* MAIN */
main {
  flex: 1;
  display: flex;
}
.page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  width: 100vw;
}
.message-wrapper {
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message-wrapper svg {
  fill: var(--text-color);
  width: 5em;
  margin: 1em;
}
.message-wrapper h2 {
  text-align: center;
}

/* ARTICLE LISTS */
.articles_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}
.articles_list--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles_list--select {
  background-color: var(--foreground-color);
  border: none;
  border-radius: 5px;
  color: var(--font-color);
  padding: .5em;
}
.article_card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 5px;
  border-bottom: 1px solid var(--font-color);
  padding: 1em 0;
}
.article_card--title, .article_card--description {
  color: var(--font-color);
}

.article_card--description {
  font-style: italic;
  font-size: .9em;
}
.article_card--top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article_card--top-left {
  display: flex;
  gap: 5px;
  align-items: center;
}
.article_card--date {
  font-size: 1em;
  font-weight: thin;
}
.article_card--bottom {
  display: flex;
  flex-direction: row-reverse;
}
.article_card--tags {
  display: flex;
  width: max-content;
  gap: 5px;
  font-size: .75em;
  flex-wrap: wrap;
}
.article_card--tag {
  padding: 5px;
  font-weight: bold;
  color: var(--font-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  font-size: .8em;
}

/* ARTICLE DETAIL */
.article--toc {
  position: sticky;
  top: 1em;
  max-height: 100vh;
  overflow-y: auto;
  padding-left: .5em;
  align-self: flex-start;
  font-size: 0.8rem;
  max-width: 250px;
}
.article--toc a {
  text-decoration: none;
  font-weight: bold;
  color:var(--font-color);
  position: sticky;
}
.article--toc li.active a {
  color: var(--accent-color);
}
.article--toc li.active {
  background-color: var(--text-color);
}
.article--toc ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.article--anchor-link {
  color: var(--text-color) !important;
}
.article--anchor-link::before {
  content: '#';
  display: inline-block;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  margin-left: -.8em;
  text-decoration: none;
  visibility: hidden;
  width: .8em;
  opacity: 0.5;
  color: var(--text-color);
}
.article--anchor-link:hover::before {
  visibility: visible;
}
.article--container {
  display: flex;
  width: 80%;
  align-items: flex-start;
  gap: 2rem;
}
.article--wrapper {
  flex: 1;
  width: 0;
}
.article--picture-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.article--picture-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding-bottom: 1em;
}
.article--content * {
  max-width: 100%;
}
.article--form-password-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.article--form-password {
  display: flex;
  flex-direction: column;
  gap: .25em;
  align-items: center;
}
.article--form-password form{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.article--form-password input{
  display: flex;
  align-items: center;
  padding: .5em;
  height: 2.5em;
  width: 100%;
  justify-content: center;
  background-color: var(--foreground-color);
  font-size: 1em;
  color: var(--font-color);
  outline: none;
  border: none;
}
.article--form-password button {
  height: 2.5em;
  padding: .5em;
  text-align: center;
  font-size: 1em;
  background-color: var(--foreground-color);
  color: var(--font-color);
  transition: .1s background-color linear;
  border: none;
}
.article--form-password button:hover{
  background-color: var(--accent-color);
}
/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  color: var(--text-color);
}
.footer-credits {
  flex: 1;
}
.footer-credits a {
  text-decoration: none;
  border-bottom: 1px solid;
}
.footer-credits a:hover {
  border-bottom: 1px solid transparent;
}

@media (max-width: 768px) {
  .article--toc {
    display: none;
  }
  .page_wrapper {
    padding: 1em 0em;
  }
  .article--container {
    width: 90%;
  }
  .navbar {
    width: 90%;
  }
}