.editor-content {
    display: flex;
    width: 100%;
    border-radius: 5px;
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.editor-content--viewer, .editor-content--editor {
    flex: 0.5;
    min-height: 600px !important;
    outline: none;
    resize: none;
    border-radius: 0;
    margin: 0;
    border: none;
    overflow-y: scroll;
    line-break: auto;
    overflow-x: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.editor-content--editor {
    padding: 1em;
    font-size: 1.2em !important;
}