{% extends 'base.html' %}
{% load i18n %}
{% block SEO %}
    <meta property="og:type" content="website" />
{% endblock %}
{% block content %}
<style>
    .message {
        position: absolute; 
        margin: auto; 
        top: 50%; 
        bottom: 50%;
        text-align: center;
        line-height: 1.5;
    }
    .message a {
        text-decoration: none;
        border-bottom: 1px solid;
    }
    .message a:hover {
        border-bottom: 1px solid transparent;
    }
</style>
<div class="message">
    <h2>{% trans 'You can configure this page from your administration panel.' %}</h2>
    <p>
        {% url 'admin:login' as admin_url %}
        {% blocktrans %}
            You can access it from <a href="{{ admin_url }}">here</a>.
        {% endblocktrans %}
    </p>

</div>
{% endblock %}
